{
  box-sizing: border-box;
}

[class*="col"] {
    float:left:
    /* padding: 15px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
body {
    background-color: hsl(30, 72%, 70%, 0.7);
    margin: 0;
    font-family: "Verdana", sans-serif;
}


.header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px 0;
}



.col-33 {
    flex: 33.33%;
}

.col-100 {
    flex: 100%;
}

h1 {
    font-family: "Brush Script MT", monospace;
    font-size: 40px;
    text-align: center;
    color: black;
}

h2 {
    font-family: "Verdana", sans-serif;
    font-size: 10px;
    text-align: left;
}

h3 {
    font-family: "Courier New", sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
}

p {
    font-size: 15px;
    text-align: center;
}

form {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

a {
    color: #c88038;
}
